@{ ViewData["Title"] = "Rounds"; }
@{ string role = ViewBag.Role; }
@{ string scedule = ViewBag.Scedule; }

<div class="row">
    <div class="col-md-12">

        <h1 style="text-align: center">Results</h1>
        <label for="roundNumberSelect">Choose round:</label>
        <select name="roundNumberSelect" id="roundNumberSelect" onchange="roundSelectedChanged(this)">
        </select>
        <table id="tableRounds" border="1">

            <tr>
                <th style="text-align: center">First team</th>
                <th style="text-align: center">Second team</th>
                <th style="text-align: center">Goals</th>
                <th style="text-align: center">Goals</th>
            </tr>
        </table>
    </div>
</div>

@if (role.Equals("admin"))
{<!-- Update Button -->
    <div class="updateBtn">
        <button onclick="editRoundsTable()">Update data</button>
    </div>}

<div class="editTable" id="editRoundsForm">
    <form action="/Results/Rounds" method="post">

        <div class="left">
            <label for="firstTeam">Enter your name: </label>
        </div>
        <div class="right">
            <input type="text" name="firstTeam" id="firstTeam" required>
        </div>
        <br><br>
        <div class="left">
            <label for="secondTeam">Second Team:</label>
        </div>
        <div class="right">
            <input type="text" name="secondTeam" id="secondTeam" required>
        </div>
        <br><br>
        <div class="left" title="To leave the field empty in table use value less then 0.">
            <label for="teamOneGoals">Team 1 Goals: </label>
        </div>
        <div class="right" title="To leave the field empty in table use value less then 0.">
            <input type="number" name="teamOneGoals" id="teamOneGoals" required>
        </div>
        <br><br>
        <div class="left" title="To leave the field empty in table use value less then 0.">
            <label for="teamTwoGoals">Team 2 Goals: </label>
        </div>
        <div class="right" title="To leave the field empty in table use value less then 0.">
            <input type="number" name="teamTwoGoals" id="teamTwoGoals" required>
        </div>
        <br><br>
        <div class="left" style="display:none">
            <label for="roundId">Round: </label>
        </div>
        <div class="right" style="display:none">
            <input type="number" name="roundId" id="roundId" required>
        </div>
        <div class="left" style="display:none">
            <label for="matchId">Match: </label>
        </div>
        <div class="right" style="display:none">
            <input type="number" name="matchId" id="matchId" required>
        </div>
        <input type="submit" value="Update" class="editRowBtn">
    </form>
</div>


<div class="row">
    <div class="col-md-12">

        <h1 style="text-align: center">Comments</h1>
        <table id="tableComments" border="1">

            <tr>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Comment</th>
                <th style="text-align: center">Time</th>
                @if (role.Equals("user") || role.Equals("admin"))
                {
                    <th style="text-align: center">Delete</th>
                }
                @if (role.Equals("user"))
                {
                    <th style="text-align: center">Edit</th>
                }
            </tr>
        </table>
    </div>
</div>

@if (role.Equals("user"))
{<!-- Update Button -->
    <div class="updateBtn">
        <button onclick="showCreateCommentForm()">Create comment</button>
    </div>}


<div class="editTable" id="editCommentForm">
    <form action="/Results/EditComment" method="post">
        <div class="left">
            <label for="commentText">Comment: </label>
        </div>
        <div class="right">
            <input type="text" name="commentText" id="commentText" required>
        </div>
        <br><br>
        <div class="right" style="display:none">
            <input type="number" name="editCommentRoundId" id="editCommentRoundId" required>
        </div>
        <div class="right" style="display:none">
            <input type="number" name="editCommentCommentId" id="editCommentCommentId" required>
        </div>
        <input type="submit" value="Update" class="editRowBtn" style="align-self:center">
    </form>
</div>

<div class="editTable" style="display:none">
    <form action="/Results/DeleteComment" method="post" class="form-control" id="commentDeleteForm">

        <div class="right">
            <input type="number" name="deleteCommentRoundId" id="deleteCommentRoundId" required>
        </div>
        <div class="right">
            <input type="number" name="deleteCommentCommentId" id="deleteCommentCommentId" required>
        </div>
        <input type="submit" value="Hidden" class="editRowBtn">
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <p id="textJson" style="display:none;">@scedule</p>
        <p id="userRoleJson" style="display:none;">@ViewBag.Role</p>
        <p id="userIdJson" style="display:none;">@ViewBag.UserId</p>
    </div>
</div>

<script src="~/js/rounds.js" asp-append-version="true"></script>